<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | NTK1100</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Orbitron:wght@500;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </div>
</body>

</html>